    <aside class="sidebar">
      <h3>広告スペース</h3>
      <p class="my_a_d"><a href="https://store.line.me/emojishop/product/60151def55d5cc1b3ced9583/ja" target="_blank"><img src="/assets/image/emoji_bn.png" alt="かえるのLINE絵文字　LINESTOREにて販売中！"></a></p>
      <div class="sidebar_box"><p>BOX</p></div>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6035150956930871"
     crossorigin="anonymous"></script>
<!-- 広告01 -->
  <div class="ad-container">
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6035150956930871"
        data-ad-slot="1226652450"
        data-ad-format="auto"
        data-full-width-responsive="false"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
    </aside>
